﻿@model AsapTaskApi.Model.Content.PreviousClose
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Close</title>
    <style type="text/css">
        .table {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .table td {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .table th {
                border-color: black;
                border-style: solid;
                border-width: 1px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                overflow: hidden;
                padding: 10px 5px;
                word-break: normal;
            }

            .table .table-th {
                background-color: #c0c0c0;
                color: #3166ff;
                font-family: "Lucida Console", Monaco, monospace !important;
                font-size: 16px;
                text-align: center;
                vertical-align: top
            }

            .table .table-td {
                text-align: center;
                vertical-align: top
            }
    </style>
</head>
<body>
    <h2>Here is the Previous Close Data from https://polygon.io/</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="table-th">Open Price</th>
                <th class="table-th">Close Price</th>
                <th class="table-th">Trading Volume</th>
                <th class="table-th">Volume Weighted</th>
                <th class="table-th">Highest Price</th>
                <th class="table-th">Lowest Price</th>
                <th class="table-th">Unix Msec Timestamp</th>
                <th class="table-th">Transactions Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-td">@Model.OpenPrice</td>
                <td class="table-td">@Model.ClosePrice</td>
                <td class="table-td">@Model.TradingVolume</td>
                <td class="table-td">@Model.VolumeWeighted</td>
                <td class="table-td">@Model.HighestPrice</td>
                <td class="table-td">@Model.LowestPrice</td>
                <td class="table-td">@Model.UnixMsecTimestamp</td>
                <td class="table-td">@Model.TransactionsNumber</td>
            </tr>
        </tbody>
    </table>
    <h2>Best Regards.</h2>
</body>
</html>